@model MeePoint.Models.Group

@{
	ViewData["Title"] = "Create";
}
@Html.Partial("_BreadCrumb", @ViewData["Title"])
<div class="card card-default">
	<div class="card-header">
		<h3 class="card-title">Adicionar Grupo</h3>

		<div class="card-tools">
			<button type="button" class="btn btn-tool" data-card-widget="collapse">
				<i class="fas fa-minus"></i>
			</button>
			<button type="button" class="btn btn-tool" data-card-widget="remove">
				<i class="fas fa-times"></i>
			</button>
		</div>
	</div>
	<!-- /.card-header -->
	<div class="card-body">
		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="row">
				<div class="col-12 col-sm-6">
					<label>Nome do Grupo</label>
					<input name="groupName" class="form-control" />
				</div>
			</div>
			<hr />
			<div class="row">

				<div class="col-6 col-sm-3">
					<div class="form-group">
						<label>Responsável</label>
						<select name="manager" data-placeholder="Seleciona o Responsável do Grupo" class="form-control select2bs4" style="width: 100%;" asp-items="@ViewBag.GroupMembers">
							
						</select>
					</div>
					
				</div>
				<div class="col-6 col-sm-3">
					<div class="form-group">
						<label>Co-responsáveis</label>
						<div class="select2-purple">
							<select name="coManagers" class="select2" multiple="multiple" data-placeholder="Seleciona os Co-Responsáveis do Grupo" data-dropdown-css-class="select2-purple" style="width: 100%;" asp-items="@ViewBag.GroupMembers">
							</select>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-12 col-sm-6">
					<div class="form-group">
						<label>Participantes</label>
						<div class="select2-purple">
							<select name="participants" class="select2" multiple="multiple" data-placeholder="Seleciona os Participantes do Grupo" data-dropdown-css-class="select2-purple" style="width: 100%;" asp-items="@ViewBag.GroupMembers">
							</select>
						</div>
					</div>
					<!-- /.form-group -->
				</div>
			</div>

			<button type="submit" class="btn btn-success ">Criar Novo Grupo</button>
		</form>

		<!-- /.col -->
	</div>
</div>

@section Scripts

{
	<script>
		$(function () {

			$('.select2').select2()

			//Initialize Select2 Elements
			$('.select2bs4').select2({
				theme: 'bootstrap4'
			})
		});

		
	</script>
}