@model MeePoint.Models.Group

@{
	ViewData["Title"] = "Detalhes do Grupo";
}
@Html.Partial("_BreadCrumb", @ViewData["Title"])

<div class="d-flex justify-content-lg-between align-items-center">
	<a asp-controller="Meetings" asp-action="Schedule" asp-route-id="@Model.GroupID" class="btn btn-group-lg btn-danger">Convocar Reunião</a>

	@if (User.IsInRole("EntityManager"))
	{

		<a asp-controller="Groups" asp-action="Delete" asp-route-id="@Model.GroupID" class="btn btn-app bg-danger">
			<i class="fas fa-inbox"></i> Eliminar Grupo
		</a>

	}
</div>

<!-- Small boxes (Stat box) -->
<div class="row">
	<div class="col-lg-3 col-6">
		<!-- small box -->
		<div class="small-box bg-info">
			<div class="inner">
				<h3>@Model.Name</h3>

				<p>Nome do Responsável: @Model.Entity.ManagerName</p>
			</div>
			<div class="icon">
				<i class="ion ion-bag"></i>
			</div>
			<a asp-controller="RegisteredUsers" asp-action="Details" asp-route-id="@Model.Entity.User.RegisteredUserID" class="small-box-footer">Ver Perfil do Responsável <i class="fas fa-arrow-circle-right"></i></a>
		</div>
	</div>
	<!-- ./col -->
	<div class="col-lg-3 col-6">
		<!-- small box -->
		<div class="small-box bg-success">
			<div class="inner">
				<h3>
					@{
						var firstDay = DateTime.Today.AddDays(-30);
						var countMeetings = Model.Meetings.Where(x => x.MeetingStarted >= firstDay && x.MeetingStarted <= DateTime.Now && x.MeetingEndedBool == true).Count();
					}
					@countMeetings
				</h3>

				<p>Reuniões efetuadas no último mês</p>
			</div>
			<div class="icon">
				<i class="ion ion-stats-bars"></i>
			</div>
			<a asp-controller="Groups" asp-action="History" asp-route-id="@Model.GroupID" class="small-box-footer">Ver o histórico de reuniões <i class="fas fa-arrow-circle-right"></i></a>
		</div>
	</div>
	<!-- ./col -->
	<div class="col-lg-3 col-6">
		<!-- small box -->
		<div class="small-box bg-warning">
			<div class="inner">
				<h3>@Model.Members.Count()</h3>

				<p>Participantes</p>
			</div>
			<div class="icon">
				<i class="ion ion-person-add"></i>
			</div>
			<a asp-controller="Groups" asp-action="Participants" asp-route-id="@Model.GroupID" class="small-box-footer">Ver Lista de Participantes <i class="fas fa-arrow-circle-right"></i></a>
		</div>
	</div>
	<!-- ./col -->
	<div class="col-lg-3 col-6">
		<!-- small box -->
		<div class="small-box bg-danger">
			<div class="inner">
				<h3>
					@{
						var nextMeetingDate = Model.Meetings.OrderBy(x => x.MeetingDate).Where(x => x.MeetingDate >= DateTime.Now).FirstOrDefault();
						string dateString;
						if (nextMeetingDate != null && !nextMeetingDate.MeetingEndedBool)
						{
							dateString = String.Format("{0:ddd d MMM }", nextMeetingDate.MeetingDate);
						}
						else
						{
							dateString = "Sem reuniões";
						}
					}
					@dateString
				</h3>

				<p>Próxima Reunião</p>
			</div>
			<div class="icon">
				<i class="ion ion-pie-graph"></i>
			</div>

			@if (nextMeetingDate != null && !nextMeetingDate.MeetingEndedBool)
			{
				<a asp-controller="Meetings" asp-action="Details" asp-route-id="@nextMeetingDate.MeetingID" class="small-box-footer">Ver Detalhes da Reunião <i class="fas fa-arrow-circle-right"></i></a>

			}
			else
			{
				<a class="small-box-footer">Sem reuniões para consultar <i class="fas "></i></a>

			}
		</div>
	</div>
	<!-- ./col -->
</div>

<!-- Timelime example  -->
<div class="row">
	<div class="col-md-12">
		<!-- The time line -->
		<div class="timeline">

			@{bool timelineExists = false;
				DateTime currentDate = new DateTime(0002, 04, 30);}
			@foreach (var meeting in Model.Meetings.Where(m => m.MeetingEndedBool == true).OrderByDescending(m => m.MeetingEnded))
			{

				if (currentDate.Date != meeting.MeetingDate)
				{
					<div class="time-label">
						<span class="bg-green">@meeting.MeetingDate.ToString("dd MMM yyy")</span>
					</div>
				}
				currentDate = meeting.MeetingDate;

				<!-- /.timeline-label -->
				<!-- timeline item -->
				<div>
					<i class="fas fa-comments bg-yellow"></i>
					<div class="timeline-item">
						<span class="time"><i class="fas fa-clock"></i> @meeting.MeetingStarted.ToString("HH:m")</span>
						<h3 class="timeline-header"><a asp-controller="Meetings" asp-action="Details" asp-route-id="@meeting.MeetingID">Reunião</a> foi dada como concluída</h3>

						<div class="timeline-body">
							Assunto: @meeting.Name
						</div>
						<div class="timeline-footer">
							<a class="btn btn-primary btn-sm" asp-controller="Meetings" asp-action="Details" asp-route-id="@meeting.MeetingID">Ver Detalhes</a>
							@if (!String.IsNullOrEmpty(meeting.AtaPath))
							{
								<a class="btn btn-danger btn-sm" asp-controller="Meetings" asp-action="DownloadMinute" asp-route-id="@meeting.MeetingID">Fazer download da Ata</a>

							}
						</div>
					</div>
				</div>

				timelineExists = true;

			}
			@if (timelineExists)
			{
				<div>
					<i class="fas fa-clock bg-gray"></i>
				</div>
			}
		</div>
	</div>
	<!-- /.col -->
</div>