@page
@model IndexModel
@{
	ViewData["Title"] = "Profile";
	ViewData["ActivePage"] = ManageNavPages.Index;
}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-3">

			<!-- Profile Image -->
			<div class="card card-primary card-outline">
				<div class="card-body box-profile">
					<div class="text-center">
						<img class="profile-user-img img-fluid img-circle"
							 src="@(String.IsNullOrEmpty(Model.InputRegisteredUser.Photo) ? "/assets/images/profile.png" : Model.InputRegisteredUser.Photo)"
							 alt="">
					</div>

					<h3 class="profile-username text-center">@Html.DisplayFor(m => m.InputRegisteredUser.Name)</h3>

					<p class="text-muted text-center">@ViewData["entityName"]</p>

					<ul class="list-group list-group-unbordered mb-3">
						<li class="list-group-item">
						</li>
					</ul>

					<a asp-controller="Home" asp-action="MainPage" class="btn btn-primary btn-block"><b>Página Inicial</b></a>
				</div>
				<!-- /.card-body -->
			</div>
			<!-- /.card -->
		</div>
		<!-- /.col -->
		<div class="col-md-9">
			<div class="card">
				<div class="card-header p-2">
					<ul class="nav nav-pills">
						<li class="nav-item"><a class="nav-link active" href="#settings" data-toggle="tab">Definições</a></li>
						<li class="nav-item"><a class="nav-link" href="#changePassword" data-toggle="tab">Mudar Password</a></li>
					</ul>
				</div><!-- /.card-header -->
				<div class="card-body">
					<div class="tab-content">

						<div class="active tab-pane" id="settings">
							<form id="profile-form" method="post" class="form-horizontal" enctype="multipart/form-data">
								<div asp-validation-summary="ModelOnly" class="text-danger"></div>

								<div class="form-group row">
									<label class="col-sm-2 col-form-label">Email</label>
									<div class="col-sm-10">
										<input class="form-control" id="inputEmail" asp-for="@Model.InputRegisteredUser.Email" disabled>
									</div>
								</div>
								<div class="form-group row">
									<label class="col-sm-2 col-form-label">Nome</label>
									<div class="col-sm-10">
										<input asp-for="@Model.InputRegisteredUser.Name" class="form-control" id="inputName" placeholder="Name">
									</div>
								</div>

								<div class="form-group">
									<label>Foto de Perfil</label>
									<div class="input-group">
										<div class="custom-file">
											<input type="file" class="custom-file-input" asp-for="@Model.InputRegisteredUser.ProfilePic">
											<label class="custom-file-label" for="exampleInputFile">Escolhe ficheiro</label>
										</div>
										<div class="input-group-append">
											<span class="input-group-text">Upload</span>
										</div>
									</div>
								</div>

								<div class="form-group row">
									<div class="offset-sm-2 col-sm-10">
										<button type="submit" class="btn btn-danger" asp-page-handler="RegistedUser">Submeter</button>
									</div>
								</div>
							</form>
						</div>
						<div class="tab-pane" id="changePassword">
							<form id="profile-form" method="post" class="form-horizontal" enctype="multipart/form-data">
								<div asp-validation-summary="ModelOnly" class="text-danger"></div>

								<div class="form-group row">
									<label class="col-sm-2 col-form-label">Password Antiga</label>
									<div class="col-sm-10">
										<input class="form-control" id="inputEmail" asp-for="@Model.InputPassword.OldPassword" placeholder="Password Antiga">
									</div>
								</div>
								<div class="form-group row">
									<label class="col-sm-2 col-form-label">Nova Password</label>
									<div class="col-sm-10">
										<input asp-for="@Model.InputPassword.NewPassword" class="form-control" id="inputName" placeholder="Password">
									</div>
								</div>
								<div class="form-group row">
									<label class="col-sm-2 col-form-label">Confirma Password</label>
									<div class="col-sm-10">
										<input asp-for="@Model.InputPassword.ConfirmPassword" class="form-control" id="inputName" placeholder="Password">
									</div>
								</div>

								<div class="form-group row">
									<div class="offset-sm-2 col-sm-10">
										<div class="checkbox">
											<label>
												<input type="checkbox"> Eu concordo com <a href="#">os termos e condições</a>
											</label>
										</div>
									</div>
								</div>
								<div class="form-group row">
									<div class="offset-sm-2 col-sm-10">
										<button type="submit" class="btn btn-danger" asp-page-handler="Password">Alterar Password</button>
									</div>
								</div>
							</form>
						</div>
						<!-- /.tab-pane -->
					</div>

					<!-- /.tab-pane -->
					<!-- /.tab-content -->
				</div><!-- /.card-body -->
			</div>
			<!-- /.card -->
		</div>
		<!-- /.col -->
	</div>
	<!-- /.row -->
</div><!-- /.container-fluid -->

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
	<script>
		$(function () {
			bsCustomFileInput.init();
		});
	</script>
}